h1{
    background-color: white;

    text-align:center;
}
.contenido *{
    margin: auto;
    width: 300px;
    height: auto;
}
.amor{
    text-align: center;
    object-fit: contain;
    margin: auto;
    border: 1px solid black;
}
.foto{
    display: flex;
    justify-content: space-between;
    height: auto;
    object-fit:contain;
    text-align: center;
    padding-top: 25px;
}
body{
    background-color: lightgrey;
    text-align: center;
}
.encabezado{
    flex-basis: 95%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    margin: auto;
    font-size: 80%;
    font-family: 'Arial';
    background-color: white;
}
.indice{
    flex-basis: 5%;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    font-size: 80%;
    font-family: 'Arial';
    background-color: white;
    color: grey ;
    padding-right: 2%;
}
.piefoto{
    flex-flow: row;
    display: flex;
    width: 300px;
    height: auto;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.pie{
    font-size: 70%;
    margin-top: 0em;
    padding-left: 15px;
    text-align: left;
    flex-wrap: wrap;
    padding-right: 2%;
}
