h1{
    background-color: white;

    text-align:center;
}
.contenido *{
    counter-reset: section;
    display: flexbox;
    margin: auto;
    width: 50%;
}
.amor{
    display: block;
    text-align: center;
    object-fit: contain;
    height: auto;
    margin: auto;
    width: 25%;
    border: 1px solid black;
}
.foto{
    display: flex;
    justify-content: space-between;
    height: auto;
    object-fit:contain;
    text-align: center;
    padding-top: 25px;
    width: 25%;
}
body{
    background-color: lightgrey;
    text-align: center;
}
.encabezado{
    flex-basis: 95%;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2%;
    width: 50%;
    margin: auto;
    font-size: 50%;
    font-family: 'Arial';
    background-color: white;
}
.indice{
    flex-basis: 5%;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50%;
    margin: auto;
    font-size: 50%;
    font-family: 'Arial';
    background-color: white;
    color: grey ;
    padding-right: 2%;
}

.foto2{
    display: flex;
    text-align: left;
    justify-content: space-between;
    height: auto;
    object-fit:contain;

    padding-top: -25px;
    width: 25%;
}
.pie{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    margin: auto;
    font-size: 50%;
    font-family: 'Arial';
    background-color: white;
}
